@media screen and (min-width: 800px) {
    .solar-system {
        transform: scale(0.9);
        left: 20%;
    }
    .alien {
        max-width: 40%;
        top: 25%;
        left: 30%;
    }
    .galaxymain p {
        width: 30%;
        font-size: 2rem;
        top: 30%;
        left: 25%;
    }
    .galaxymain h1 {
        font-size: clamp(7rem, 5vw, 4rem);
        top: 12%;
        left: 25%;
    }
}

@media (max-width: 450px) {
    .solar-system {
        transform: scale(0.5);

    }
    
    .galaxymain {
        min-height: 140vh;
    }
    .galaxymain p{
        width: 80%;
        max-height: 50vh;
    }


    #navBar {
        flex-direction: column;
        height: auto;
        width: 100%;
        background: rgba(2, 2, 2, 0.333);
        grid-area: navBar;
        

        display: flex;
    
    

    

}

.navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width:100%;
    animation: fade 12s ease-in-out;
}
    .boxy {
        margin: 0 0 10px 0;
        justify-content: flex-start;
        margin-bottom: 0%;
    }
    
    .btn {
        transform: scale(50%);
        padding: 10px 20px;
        justify-content: flex-start;
    }
    
    .navlinks {
        gap: 15px;
        font-size: 14px;
        flex-direction: row;
        
    }
}