.galaxymain {
    border: 5px solid #ff0800;
    width: 100%;
    min-height: 100vh;
}

.solar-system {
    position: relative;
    width: 100%;
    height: 100vh;
    transform: scale(1.);
}

.sun {
    height: 120px;
    width: 120px;
    background-image: url('../pics2/sun.png');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateSun 50s linear infinite;
}

@keyframes rotateSun {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.mercury {
    height: 20px;
    width: 20px;
    background-image: url('../pics2/mercury.png');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 43%;
    transform: translate(-50%, -50%);
    animation: orbit2 2s linear infinite;
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(70px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(70px) rotate(-360deg);
    }
}

.mercury-outline,.venus-outline, .earth-outline, .mars-outline, .jupiter-outline, .saturn-outline, .uranus-outline, .neptune-outline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px dashed #888;
    border-radius: 50%;

}

.mercury-outline {
    width: 140px;
    height: 140px;
    animation: orbit 2s linear infinite;
}

.venus {
    height: 40px;
    width: 40px;
    background-image: url('../pics2/venus.png');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: orbit3 10s linear infinite;
}




@keyframes orbit3 {
    from {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

.venus-outline {
    width: 200px;
    height: 200px;
    animation: orbit 10s linear infinite;
}

.earth {
    height: 50px;
    width: 50px;
    background-image: url('../pics2/earth.png');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 43%;
    left: 44%;
    transform: translate(-50%, -50%);
    animation: orbit4 20s linear infinite;
}




@keyframes orbit4 {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}

.earth-outline {
    width: 300px;
    height: 300px;
    animation: orbit 10s linear infinite;
}

.mars {
    height: 30px;
    width: 30px;
    background-image: url('../pics2/mars.png');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 46.5%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    animation: orbit5 30s linear infinite;
}
@keyframes orbit5 {
    from {
        transform: rotate(0deg) translateX(185px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(185px) rotate(-360deg);
    }
}

.mars-outline {
    width: 370px;
    height: 370px;
    animation: orbit 30s linear infinite;
}